@font-face {
  font-family: 'jedifont';
  font-style: normal;
  font-weight: normal;
  src: url(../../star_jedi/starjedi/Starjedi.ttf);
}

body {
  background-image: url('https://farm5.staticflickr.com/4832/31245585687_121cb2c2ef_h.jpg');
  font-family: 'jedifont';
}