@font-face {
  font-family: 'mono';
  font-style: normal;
  font-weight: normal;
  src: url(../../anakin_mono/anakinmono.ttf);
}


.info {
  color: #eabc01;
}

.card {
  border: 2px solid #feda4a;
  border-radius: 10%;
  height: 440px;
  position: relative;
  transition: 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; 

}

.list-container {
  margin-top: 230px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.fave-button,
input[type='submit'],
input[type='reset'] {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.button-div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 10px 0 0;
}

.fa-star {
  color: #feda4a;
  font-size: 30px;
  background-color: none;
}

.info-section {
  text-align: center;
  padding: 5px;
  font-weight: 700;
  height: 50%;
  opacity: 1;
}

.card::after {
  content: '';
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  border-radius: 10%;
}

.info {
  margin-bottom: 5px;
  font-family: 'mono';
  letter-spacing: 1px;
  font-size: 13px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.overlay {
  background: linear-gradient(0deg, 
              rgba(0,0,0,1) 0%,
              rgba(0,0,0,0.5060399159663865) 80%,
              rgba(0,0,0,0) 100%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 10%;
}

.name {
  color: #feda4a;
  font-size: 21px;
  margin-bottom: 20px;
  font-family: 'mono';
  letter-spacing: 1px;
}
