@font-face {
  font-family: 'mono';
  font-style: normal;
  font-weight: normal;
  src: url(../../anakin_mono/anakinmono.ttf);
}

/* blue color */
/* color: #228DFF; */

.nav {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background-color: #feda4a;
  border-radius: 20px;
  top: -145px;
}

button {
  font-family: 'mono';
  /* font-family: 'Pathway Gothic One', sans-serif; */
  padding-top: 7px;
  font-size: 20px;
  width: 150px;
  height: 40px;
  color:#eabc01;
  font-weight: 600;
  background-color: #feda4a;
  border-left: 2px solid #eabc01;
  border-right: 2px solid #eabc01;
  border-top: none;
  border-bottom: none;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

button:hover {
  color: #feda4a;
  cursor: pointer;
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #feda4a, 0 0 70px #feda4a, 0 0 80px #feda4a, 0 0 100px #feda4a, 0 0 150px #feda4a;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #feda4a, 0 0 35px #feda4a, 0 0 40px #feda4a, 0 0 50px #feda4a, 0 0 75px #feda4a;
  }
}
